@model IEnumerable<OnTap_Ltt_QlSinhVien.Models.Khoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "lttCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "lttEdit", new { id=item.MaKH.Trim() }) |
            @Html.ActionLink("Details", "lttDetails", new { id=item.MaKH.Trim() }) |
            @Html.ActionLink("Delete", "lttDelete", new { id=item.MaKH.Trim() })
        </td>
    </tr>
}

</table>
