@model LeTuanTinh_2210900130.Models.ltt_SACH

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ltt_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ltt_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltt_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ltt_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltt_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ltt_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltt_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ltt_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltt_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ltt_TAGGIA.ltt_TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltt_TAGGIA.ltt_TenTG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "LttIndex")
        </div>
    }
</div>
