@model LttLesson09.Models.LttKhoa

@{
    ViewBag.Title = "Le Tuan Tinh - Details";
}

<h2>Details</h2>

<div>
    <h4>LttKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LttTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LttTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LttTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LttTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Le Tuan Tinh - Edit", "LttEdit", new { id = Model.LttMaKH }) |
    @Html.ActionLink("Back to List", "LttIndex")
</p>
